@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Sunflower:wght@300&display=swap");
@import "var.css";
@import "weather.css";
@import "logandgreet.css";
@import "todo.css";
@import "background.css";

body {
  font-family: "Sunflower", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  font-family: "Sunflower", sans-serif;
}
button {
  font-family: "Sunflower", sans-serif;
}

#clock {
  font-size: 47px;
  margin-top: 55px;
  margin-bottom: 120px;
}

#quote {
  width: 100%;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
