@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
@import "var.css";
@import "weather.css";
@import "logandgreet.css";
@import "todo.css";

body {
  font-family: "Do Hyeon", sans-serif;
  height: 100vh;
  background-image: url(https://img1.daumcdn.net/thumb/R800x0/?scode=mtistory2&fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F270ED4485230106434);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  font-family: "Do Hyeon", sans-serif;
}
button {
  font-family: "Do Hyeon", sans-serif;
}

#clock {
  font-size: 47px;
  margin-bottom: 35px;
}

#quote {
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
